---
import MainLayout from "@layouts/MainLayout.astro";
import data from "@content/data.json";
let x = [1, 2, 3, 4, 5];
---

<MainLayout title="Test astro">
  <main>
    <img src="./images/wallhaven-kxj3l1.webp" style="height: 300px;" />
    <h1>Test FrankinShaine</h1>
    <h2>Test 321</h2>
    {
      x.map((item, index) => {
        return (
          <div class="counter" x-data="{ count: 0 }">
            <button class="counter__button" x-on:click="count++">Increment</button>
            <span x-text="count"></span>
            <button class="counter__button" x-on:click="count--">Dicrement</button>
          </div>
          <div class="test">asdasdasd</div>
        );
      })
    }
    {
      data.map((item, index) => {
        if (index < 10) {
          return (
            <div>
              <h2>{item.title}</h2>
              <p>{item.body}</p>
            </div>
          );
        }
      })
    }
  </main>
</MainLayout>
